+++
title = "Project Graph Builder"
linkTitle = "home"

+++

{{< blocks/cover title="Project GraphBuilder" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "docs/overview/" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-warning mr-3 mb-4" href="https://github.com/TIBCOSoftware/labs-graphbuilder-contrib/tree/master/dist">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5">
	<h1>Leveraging the power of relationships in your data</h1></p>
	<div class="mx-auto mt-5">
		{{< blocks/link-down color="dark" >}}
	
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Project GraphBuilder by **TIBCO LABS™** 

Project GraphBuilder offers an easy and powerful way to load data from multiple enterprise data sources into TIBCO® GraphDB or any graph database of your choice, both in batch and real-time.  Leverage the power of relationships to discover new business insights that were previously hidden in your data. Project GraphBuilder makes it simple for you to efficiently traverse, analyze, and access complex relationships across your organization, and convert this dynamic data into a form that is easy to understand and leverage.
{{% /blocks/lead %}}

<!--Main Text Section-->





{{< blocks/section color="dark" >}}

{{% blocks/feature icon="fa-project-diagram" title="Overview" url="docs/overview/" %}}
Business use case, followed by the proposed solution
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-tasks" title="Components" url="docs/components/" %}}
Learn more about the associated TIBCO products and assets.
{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-book" title="Get Started" url="docs/getting-started/" %}}
Follow the documentation and get started today!

{{% /blocks/feature %}}


<!--
<div class="mx-auto mt-5">
		{{< blocks/link-down color="info" >}}
</div>
-->
{{< /blocks/section >}}



{{< blocks/section >}}

{{% blocks/feature icon="far fa-comments" title="Contact us!" url="community/" %}}
Reach us for more details, or engage us today !
{{% /blocks/feature %}}

<!--
{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="https://github.com/TIBCOSoftware/augmented-reality" %}}
We do a [Pull Request](https://github.com/TIBCOSoftware/augmented-reality/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}
-->

{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/hashtag/TIBCOLabs?f=live" %}}
For announcement of latest features etc...
{{% /blocks/feature %}}

{{< /blocks/section >}}

